{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    <hr>

    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.simpleapp.add_news %}
    <a href="{% url 'news_create' %}">Добавить новость</a>
    {% endif %}

    {% if News %}
        <table>
            <tr>
                <td>Название</td>
                <td>Описание</td>
                <td>Категория</td>

                {# Условие получается составным. #}
                {% if perms.simpleapp.change_news or perms.simpleapp.delete_news %}
                <td>Действия</td>
                {% endif %}

            </tr>

            {% for News in News %}
            <tr>
               <td>{{ News.title }}</td>
               <td>{{ News.dataCreation|date: "d M Y" }}</td>
               <td>{{ News.description|truncatewords:20 }}</td>
               <td>{{ News.category.name }}</td>

                <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.simpleapp.change_news %}
                    <a href="{% url 'news_update' pk=news.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.simpleapp.delete_news %}
                    <a href="{% url 'news_delete' news.id %}">Удалить</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}








               <td>{{ News.title }}</td>
               <td>{{ News.dataCreation|date: "d M Y" }}</td>
               <td>{{ News.description|truncatewords:20 }}</td>
               <td>{{ News.category.name }}</td>